
#createGameBox, #gameBox, #gamePlayersBox, #chatBox, #gameChatBox, #gameChatBoxInGame  {
    height: 250px;
    overflow-y: auto;
}

#gamePlayersBoxInGame{
    height: 180px;
    overflow-y: auto;
}

#gameWrapper {
    margin-top: 10px;
}

.chatTabs {
    margin-top: 20px;
}

.chatRow{
    margin:2px;
    padding:2px;
    border-radius:5px; 
}

.chatRowFromGame{
    background-color:#ffff00;
}

.chatRowImportant{
    background-color:#FF8000;
    font-size:16px;
    font-weight:bold;
}

.bold{
    font-weight:bold;
}